version: 2.1
orbs:
  architect: giantswarm/architect@6.12.0

workflows:
  build:
    jobs:
    - architect/go-build:
        name: go-build-envoy-extension-server
        binary: envoy-extension-server
        path: cmd/extension-server/main.go
        filters:
            # Trigger the job also on git tag.
          tags:
            only: /^v.*/

    - architect/push-to-registries:
        context: architect
        name: push-to-registries
        image: giantswarm/envoy-extension-server
        dockerfile: ./tools/docker/extension-server/Dockerfile
        requires:
        - go-build-envoy-extension-server
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main

    - architect/push-to-app-catalog:
        executor: app-build-suite
        context: architect
        name: push-envoy-extension-server-to-giantswarm-app-catalog
        app_catalog: playground-catalog
        app_catalog_test: playground-test-catalog
        chart: envoy-extension-server
        requires:
        - push-to-registries
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
