apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/name: envoy-extension-server-app
    app.kubernetes.io/managed-by: kustomize
  name: controller-manager
  namespace: system
